.about-links {
  color: #95a5a6;
}
.about-links a {
  color: #95a5a6;
  border-bottom: 1px dotted;
  text-decoration: none;
  margin-right: 15px;
}

.about-links a:hover {
  color: #2c3e50;
}

.ads.banner {
	text-align: center;
  width: 100% !important;
}