.about-links {
  color: #95a5a6;
}
.about-links a {
  color: #95a5a6;
  border-bottom: 1px dotted;
  text-decoration: none;
  margin-right: 15px;
}

.about-links a:hover {
  color: #2c3e50;
}

#carbonads {
  font-size: 13px;
  line-height: 1.428571429;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  min-height: 120px;
  background: #fff;
}
#carbonads .carbon-img {
  display: block;
  float: left;
  padding-right: 10px;
}
#carbonads .carbon-text {
  display: block;
}
#carbonads .carbon-poweredby {
  margin-top: 5px;
  color: #666;
}