<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.name }} - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">

  <!-- Le styles -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="assets/css/syntax.css">

</head>
<body>

  <div class="container">
    <ul class="nav nav-pills pull-right" style="margin-top:15px; margin-bottom: 15px;">
      <li {% if page.menu == 1 %}class="active"{% endif %}><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li {% if page.menu == 2 %}class="active"{% endif %}><a href="learn.html"><i class="fa fa-code"></i> Learn</a></li>
      <li {% if page.menu == 3 %}class="active"{% endif %}><a href="demo.html"><span class="glyphicon glyphicon-play"></span> Demo</a></li>
    </ul>
    <div class="clearfix"></div>

    {{ content }}

    <div class="clearfix"></div>

  </div>
  <footer class="footer" style="padding-bottom:10px; width:100%; text-align:center">
    <hr/>
    <span style="font-family:Arial">©</span> {{ site.time | date: '%Y' }}
    <a href="https://github.com/dbtek/bootstrap-vertical-tabs" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Download from Github']);">
      Bootstrap Vertical Tabs
    </a>
    by
    <a href="http://ismaildemirbilek.com" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'View personal website']);">dbtek</a>
  </footer>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    var wHeight = $(window).height();
    var height = wHeight - 2*$('.footer').height();
    $('.container').css('min-height',height);
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46512232-4', 'dbtek.github.io');
    ga('send', 'pageview');
  </script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</body>
</html>
